.main-panel {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 0;
  height: 90%; /* Ensure it uses the full height of its parent */
}

#results {
  overflow-y: auto;
  max-height: 60%;
}